body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

.header {
  background: #000;
  padding: 1rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: red;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.header__nav a {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

.header__actions button {
  background: red;
  border: none;
  padding: .5rem 1rem;
  color: white;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #000;
  margin-top: 2rem;
}

.slider {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
  gap: 1rem;
}

.card {
  display: block;
  text-decoration: none;
  color: white;
  background: #222;
  padding: .5rem;
  border-radius: 8px;
}

.card__img {
  width: 100%;
  border-radius: 6px;
}

.container {
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; 
}

.login__box {
  background: #000;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;   
  margin: auto;
}

.login__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login__form input {
  padding: .8rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
}

.login__form button {
  padding: .8rem;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login__form button:hover {
  background: #b00610;
}
